<% layout("layouts/boilerplate") %>
<div class="col-md-6 offset-md-3">
    <form action="/profile/edit" method="post" enctype="multipart/form-data" class="mb-3">
        <div class="mb-3">
            <p class="display-3">Профильді өзгерту</p>
        </div>

        <div class="form-group mb-3">
            <label for="username">Логин</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                   value="<%= user.username %>" required>
        </div>

        <div class="form-group mb-3">
            <label for="profilepic">Профиль фотосуреті</label>
            <input id="profilepic" class="form-control" type="file" name="profilepic"/>
        </div>

        <div class="form-group mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                   value="<%= user.email %>" required>
        </div>

        <button type="submit" class="btn btn-primary">Жіберу</button>
    </form>

    <form action="/profile/edit_password" method="post" class="mb-3">
        <div class="mb-3">
            <p class="display-6">Құпиясөзді өзгерту</p>
        </div>

        <div class="form-group mb-3">
            <label for="old_password">Ескі құпиясөзді теріңіз:</label>
            <input type="password" class="form-control" id="old_password" name="old_password"
                   placeholder="Ескі құпиясөз"
                   required>
        </div>

        <div class="form-group mb-3">
            <label for="new_password_1">Жаңа құпиясөзді қайта теріңіз:</label>
            <input type="password" class="form-control" id="new_password_1" name="new_password_1"
                   placeholder="Жаңа құпиясөз"
                   required>
        </div>

        <div class="form-group mb-3">
            <label for="new_password_2">Жаңа құпиясөзді қайта теріңіз:</label>
            <input type="password" class="form-control" id="new_password_2" name="new_password_2"
                   placeholder="Қайта теріңіз"
                   required>
        </div>

        <button type="submit" class="btn btn-primary">Өзгерту</button>
    </form>

    <a class="btn btn-success" href="/profile" role="button">Профильге қайтып келу</a>
</div>