<% layout("layouts/boilerplate") %>
<div class="col-sm-6 offset-sm-4">
    <form action="/profile/edit" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <p class="display-3">Profile edit Form</p>
        </div>

        <div class="form-group mb-3">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                   value="<%= user.username %>" required>
        </div>

        <div class="form-group mb-3">
            <label for="profilepic">Your profile picture</label>
            <input id="profilepic" class="form-control" type="file" name="profilepic"/>
        </div>

        <div class="form-group mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="<%= user.email %>" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

        <a class="btn btn-success" href="/profile" role="button">Профильге қайтып келу</a>
    </form>
</div>