<% layout("layouts/boilerplate") %>
<div class="col-md-6 offset-md-3">
    <% if (create_info) { %>
        <div class="alert alert-success mb-3" role="alert">
            <p class="mb-0"><%= create_info %></p>
        </div>
    <% } %>

    <form action="/sign_in" method="post">
        <div class="mb-3">
            <p class="display-3">Профильге кіру</p>
        </div>

        <div class="form-group mb-3">
            <label for="username">Логин</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Логин" required>
        </div>

        <div class="form-group mb-3">
            <label for="password">Құпиясөз</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Құпиясөз" required>
        </div>

        <button type="submit" class="btn btn-primary">Жіберу</button>

        <a class="btn btn-success" href="/sign_up" role="button">Әлі аккаунт жоқ па?</a>
    </form>
</div>