<footer class="footer bg-dark py-3 mt-auto">
    <div class="container d-flex justify-content-around" style="color:#FFF;">
        <div>
            <p>Terms of service</p>
        </div>
        <div>
            <p>Privacy policy</p>
        </div>
        <div>
            <p>© 2022</p>
        </div>
    </div>
</footer>