<div class="container mt-auto">
    <footer class="py-3">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">Біз туралы</a></li>
            <li class="nav-item"><a href="https://github.com/nuromirzak/aqyndar" target="_blank"
                                    class="nav-link px-2 text-muted">Проекттің коды</a></li>
            <li class="nav-item"><a href="/faq" class="nav-link px-2 text-muted">FAQ-лар</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Aqyndar.com</p>
    </footer>
</div>