<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <strong style="letter-spacing: 0.25rem"><%- include('../logo.ejs'); %></strong>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" id="poemsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Өлеңдер
                    </a>

                    <ul class="dropdown-menu dropdown-menu" aria-labelledby="poemsDropdown">
                        <li><a class="dropdown-item" href=/poems>Барлық өлеңдерді көру</a></li>
                        <li><a class="dropdown-item" href="/poems/new">Жаңа өлең қосу</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" id="authorsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Авторлар
                    </a>

                    <ul class="dropdown-menu dropdown-menu" aria-labelledby="authorsDropdown">
                        <li><a class="dropdown-item" href=/authors>Барлық авторларды көру</a></li>
                        <li><a class="dropdown-item" href="/authors/new">Жаңа автор қосу</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" id="annotationsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Аннотациялар
                    </a>

                    <ul class="dropdown-menu dropdown-menu" aria-labelledby="annotationsDropdown">
                        <li><a class="dropdown-item" href=/annotations>Барлық аннотацияларды көру</a></li>
                        <li><a class="dropdown-item" href="/annotations/add">Жаңа аннотация қосу</a></li>
                    </ul>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link" href="/faq">FAQ</a>
                </li>

                <% if (isLogged) { %>
                    <li class="nav-item dropdown mx-2">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd"
                                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            Менің профилім
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="/profile">Менің профилім</a></li>
                            <li><a class="dropdown-item" href="/sign_out">Шығу</a></li>
                        </ul>
                    </li>
                <% } else { %>
                    <li class="nav-item mx-2">
                        <a class="btn btn-primary" href="/sign_in">Профильге кіру</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="btn btn-primary" href="/sign_up">Регистрация</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>