<% layout("layouts/boilerplate") %>
<div class="col-md-6 offset-md-3">
    <p class="display-3">Бүкіл аннотациялар</p>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Өлеңнің аты</th>
            <th scope="col">Жолдың номері</th>
            <th scope="col">Аннотация</th>
        </tr>
        </thead>
        <tbody>
        <% for (let i = 0; i < annotations.length; i++) { %>

            <tr>
                <th scope="row"><%= i + 1 %></th>
                <td><%= annotations[i].poemName %></td>
                <td><%= annotations[i].line_number %></td>
                <td><%= annotations[i].content %></td>
            </tr>

        <% } %>
        </tbody>
    </table>
</div>