<% layout("layouts/boilerplate") %>
<div>
    <p class="display-1">Біз туралы</p>
    <p>Бұл вебсайттың мақсаты - Қазақстан жазушыларының және ақындарының поэемаларын халыққа түсінікті тілде жеткізу.
        <strong>Болашақта толықтырылады...</strong></p>
</div>