<% layout("layouts/boilerplate") %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>

<div class="">
    <div class="row mb-5" data-aos="fade-up"
         data-aos-duration="3000">
        <div class="col-md-6">
            <p class="header display-6">Қазақстандық <span id="greeting"
                                                           style="color: #fc0254;">музыкалық</span> тәжірибені
                кеңейту.</p>
            <p class="lead"> Қазақстан жазушыларының және ақындарының поэемаларын халыққа түсінікті тілде жеткізу</p>
            <div>
                <button class="btn btn-primary btn-lg" onclick="window.location.href='/sign_in'">Кіру</button>
                <button class="btn btn-secondary btn-lg" onclick="window.location.href='/sign_up'">Тіркелу</button>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" alt="Responsive image"
                 src="https://preview.colorlib.com/theme/solmusic/img/xhero-bg.png.pagespeed.ic.wZL5rXc3fy.png">
        </div>
    </div>

    <div class="mb-3" data-aos="fade-up"
         data-aos-duration="3000">
        <p class="display-3">Біз қалай жұмыс істейміз?</p>
        <div class="row py-3">
            <div class="col-md-4">
                <h3><strong>Вебсайтқа тіркеліңіз</strong></h3>
                <p class="text-muted">Жоғары оң бұрышта орналасқан батырмаға басып, өз пайдаланушы атыңыз бен құпиясөзді
                    жазып вебсайтқа тіркеліңіз.</p>
            </div>
            <div class="col-md-4">
                <h3><strong>Сүйікті өлеңізді қосыңыз</strong></h3>
                <p class="text-muted">Әлі вебсайтқа қосылмаған, өзіңіз сүйікті өлеңдеріңізді вебсайтқа қосыңыз.</p>
            </div>
            <div class="col-md-4">
                <h3><strong>Аннотация қосыңыз</strong></h3>
                <p class="text-muted">Өзіңіз қосқан өлеңнің тармақтарына алуан түрлі аннотация қосыңыз.</p>
            </div>
        </div>
    </div>

    <div class="mb-5" id="statistics" data-aos="fade-up"
         data-aos-duration="3000">
        <div class="row">
            <div class="col-md-6">
                <img src="/static/images/mockuphone-iphone-xr.png"
                     class="mx-auto d-block" alt="IPhone XR Frame Screen" style="max-height: 500px;">
            </div>
            <div class="col-md-6 d-flex align-items-center px-5 rounded-5" style="background: #f2f2f2;">
                <div class="row">

                    <div class="col-6 text-center">
                        <p class="display-3 header" id="authorsNum">0</p>
                        <p class="lead">автор қосылды</p>
                    </div>

                    <div class="col-6 text-center">
                        <p class="display-3 header" id="poemsNum">0</p>
                        <p class="lead">өлең қосылды</p>
                    </div>

                    <div class="col-6 text-center">
                        <p class="display-3 header" id="linesNum">0</p>
                        <p class="lead">тармақ қосылды</p>
                    </div>

                    <div class="col-6 text-center">
                        <p class="display-3 header" id="annotationsNum">0</p>
                        <p class="lead">аннотация қосылды</p>
                    </div>

                </div>

                <div class="text-muted col-12 d-none"><small>Деректер нақты уақыт режимінде жаңартылады.</small></div>

            </div>
        </div>
    </div>

    <div data-aos="fade-up"
         data-aos-duration="3000">
        <div class="text-center mb-5">
            <p class="header display-6">Біздің ұстанымдарымыз & құндылықтарымыз</p>
        </div>

        <div class="row">
            <div class="col-md-3 text-center">
                <img src="https://img.freepik.com/free-vector/honesty-concept-illustration_114360-8896.jpg"
                     class="img-fluid" alt="">
                <p class="header lead py-3">Адалдық</p>
            </div>

            <div class="col-md-3 text-center">
                <img src="https://img.freepik.com/free-vector/dictionary-concept-illustration_114360-7489.jpg"
                     class="img-fluid" alt="">
                <p class="header lead py-3">Үздіксіз Үйрену</p>
            </div>

            <div class="col-md-3 text-center">
                <img src="https://img.freepik.com/free-vector/goal-illustration-concept_114360-903.jpg"
                     class="img-fluid" alt="">
                <p class="header lead py-3">Құштарлық</p>
            </div>

            <div class="col-md-3 text-center">
                <img src="https://img.freepik.com/free-vector/innovation-concept-illustration_114360-5848.jpg"
                     class="img-fluid" alt="">
                <p class="header lead py-3">Инновация</p>
            </div>
        </div>
    </div>

    <!--    Hidden for now.-->
    <div class="card-group mb-5 d-none" id="home-cards">
        <div class="card me-3 p-1 border-0">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <img src="/static/images/case.png"
                         class="card-img rounded-start d-none d-sm-block" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 700 !important;">Серіктестер үшін</h5>
                        <p class="card-text" style="font-weight: 700 !important;">Қызметті жаңа деңгейге көтеру үшін
                            сізге қажет барлық нәрсе.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card me-3 p-1 border-0">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <img src="/static/images/artists.png"
                         class="card-img rounded-start d-none d-sm-block" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 700 !important;">Әншілер үшін</h5>
                        <p class="card-text" style="font-weight: 700 !important;">Музыкалар каталогы пен профильдерге
                            шексіз мүмкіндік алыңыз.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card  p-1 border-0">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <img src="/static/images/dollar.png"
                         class="card-img rounded-start d-none d-sm-block" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 700 !important;">Баспагерлер үшін</h5>
                        <p class="card-text" style="font-weight: 700 !important;">Мәтіндеріңізді бүкіл әлемге таратыңыз
                            және ақы алыңыз.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    Hidden for now.-->
    <div class="card-group mb-5 d-none">
        <div class="card text-white me-3 p-1 border-0">
            <img src="/static/images/spotify-bg.png" class="card-img" alt="...">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <div class="wrapper">
                    <h5 class="card-title"><img src="/static/images/spotify-logo.png" alt="" width="50%"></h5>
                    <p class="card-text">Нақты уақыттағы синхрондалған әндер тыңдау сапасын және пайдаланушылардың әнге
                        араласуын жақсартады.</p>
                </div>
            </div>
        </div>

        <div class="card text-white me-3 p-1 border-0">
            <img src="/static/images/insta-bg.png" class="card-img" alt="...">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <div class="wrapper">
                    <h5 class="card-title"><img src="/static/images/insta-logo.png" alt="" width="50%"></h5>
                    <p class="card-text">Әңгімелерді байыту үшін музыкалардың сөзін тікелей Instagram Stories-ке қосуға
                        болады.</p>
                </div>
            </div>
        </div>

        <div class="card text-white me-3 p-1 border-0">
            <img src="/static/images/apple-bg.png" class="card-img" alt="...">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <div class="wrapper">
                    <h5 class="card-title"><img src="/static/images/apple-logo.png" alt="" width="50%"></h5>
                    <p class="card-text">Музыканың сөздерін табу және оларды көрсету мүмкіндігі әндерді оңай табуға және
                        жағымды тәжірибе алуға мүмкіндік береді.</p>
                </div>
            </div>
        </div>

        <div class="card text-white p-1 border-0">
            <img src="/static/images/vevo-bg.png" class="card-img" alt="...">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <div class="wrapper">
                    <h5 class="card-title"><img src="/static/images/vevo-logo.png" alt="" width="50%"></h5>
                    <p class="card-text">Жасанды интеллект негізіндегі әндердің эмоцияларына негізделген жарнама.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/scripts/statistics.js"></script>
    <script src="/static/scripts/change-text.js"></script>
</div>
