<% layout("layouts/boilerplate") %>
<div class="">
    <div class="row mb-5">
        <div class="col-md-6">
            <p class="header display-6">Қазақстандық <span style="color: #fc0254;">музыкалық</span> тәжірибені
                кеңейту.</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
            <div>
                <button class="btn btn-primary btn-lg">Кіру</button>
                <button class="btn btn-secondary btn-lg">Регистрация</button>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" alt="Responsive image"
                 src="https://preview.colorlib.com/theme/solmusic/img/xhero-bg.png.pagespeed.ic.wZL5rXc3fy.png">
        </div>
    </div>

    <div class="mb-3">
        <p class="display-3">How it works</p>
        <div class="d-flex justify-content-around py-3">
            <div class="me-5">
                <h3><strong>Create an account</strong></h3>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipi-scing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. </p>
            </div>
            <div class="mx-5">
                <h3><strong>Create an account</strong></h3>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipi-scing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. </p>
            </div>
            <div class="ms-5">
                <h3><strong>Create an account</strong></h3>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipi-scing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. </p>
            </div>
        </div>
    </div>

    <div class="mb-5" id="statistics">
        <div class="row">
            <div class="col-md-6">
                <img src="/static/images/mockuphone-iphone-xr.png"
                     class="mx-auto d-block" alt="IPhone XR Frame Screen" style="max-height: 500px;">
            </div>
            <div class="col-md-6 d-flex align-items-center px-5 rounded-5" style="background: #f2f2f2;">
                <div class="row">

                    <div class="col-6 text-center">
                        <p class="display-3 header" id="authorsNum">0</p>
                        <p class="lead">автор қосылды</p>
                    </div>

                    <div class="col-6 text-center">
                        <p class="display-3 header" id="poemsNum">0</p>
                        <p class="lead">өлең қосылды</p>
                    </div>

                    <div class="col-6 text-center">
                        <p class="display-3 header" id="linesNum">0</p>
                        <p class="lead">тармақ қосылды</p>
                    </div>

                    <div class="col-6 text-center">
                        <p class="display-3 header" id="annotationsNum">0</p>
                        <p class="lead">аннотация қосылды</p>
                    </div>

                </div>

                <div class="text-muted col-12 d-none"><small>Деректер нақты уақыт режимінде жаңартылады.</small></div>

            </div>
        </div>
    </div>

    <div>
        <div class="row mb-3">
            <div class="col-md-6 text-center">
                <p class="header display-3">Our Concept & artists</p>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <p class="text-muted">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore
                        magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                        lacus
                        vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 text-center">
                <img src="https://preview.colorlib.com/theme/solmusic/img/concept/x1.jpg.pagespeed.ic.TX12NoLeZf.webp"
                     class="rounded-5" alt="">
                <p class="lead py-1 mb-0">Автор</p>
            </div>

            <div class="col-md-3 text-center">
                <img src="https://preview.colorlib.com/theme/solmusic/img/concept/x1.jpg.pagespeed.ic.TX12NoLeZf.webp"
                     class="rounded-5" alt="">
                <p class="lead py-1 mb-0">Автор</p>
            </div>

            <div class="col-md-3 text-center">
                <img src="https://preview.colorlib.com/theme/solmusic/img/concept/x1.jpg.pagespeed.ic.TX12NoLeZf.webp"
                     class="rounded-5" alt="">
                <p class="lead py-1 mb-0">Автор</p>
            </div>

            <div class="col-md-3 text-center">
                <img src="https://preview.colorlib.com/theme/solmusic/img/concept/x1.jpg.pagespeed.ic.TX12NoLeZf.webp"
                     class="rounded-5" alt="">
                <p class="lead py-1 mb-0">Автор</p>
            </div>
        </div>
    </div>

    <!--    Hidden for now.-->
    <div class="card-group mb-5 d-none" id="home-cards">
        <div class="card me-3 p-1 border-0">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <img src="/static/images/case.png"
                         class="card-img rounded-start d-none d-sm-block" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 700 !important;">Серіктестер үшін</h5>
                        <p class="card-text" style="font-weight: 700 !important;">Қызметті жаңа деңгейге көтеру үшін
                            сізге қажет барлық нәрсе.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card me-3 p-1 border-0">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <img src="/static/images/artists.png"
                         class="card-img rounded-start d-none d-sm-block" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 700 !important;">Әншілер үшін</h5>
                        <p class="card-text" style="font-weight: 700 !important;">Музыкалар каталогы пен профильдерге
                            шексіз мүмкіндік алыңыз.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card  p-1 border-0">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <img src="/static/images/dollar.png"
                         class="card-img rounded-start d-none d-sm-block" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 700 !important;">Баспагерлер үшін</h5>
                        <p class="card-text" style="font-weight: 700 !important;">Мәтіндеріңізді бүкіл әлемге таратыңыз
                            және ақы алыңыз.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    Hidden for now.-->
    <div class="card-group mb-5 d-none">
        <div class="card text-white me-3 p-1 border-0">
            <img src="/static/images/spotify-bg.png" class="card-img" alt="...">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <div class="wrapper">
                    <h5 class="card-title"><img src="/static/images/spotify-logo.png" alt="" width="50%"></h5>
                    <p class="card-text">Нақты уақыттағы синхрондалған әндер тыңдау сапасын және пайдаланушылардың әнге
                        араласуын жақсартады.</p>
                </div>
            </div>
        </div>

        <div class="card text-white me-3 p-1 border-0">
            <img src="/static/images/insta-bg.png" class="card-img" alt="...">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <div class="wrapper">
                    <h5 class="card-title"><img src="/static/images/insta-logo.png" alt="" width="50%"></h5>
                    <p class="card-text">Әңгімелерді байыту үшін музыкалардың сөзін тікелей Instagram Stories-ке қосуға
                        болады.</p>
                </div>
            </div>
        </div>

        <div class="card text-white me-3 p-1 border-0">
            <img src="/static/images/apple-bg.png" class="card-img" alt="...">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <div class="wrapper">
                    <h5 class="card-title"><img src="/static/images/apple-logo.png" alt="" width="50%"></h5>
                    <p class="card-text">Музыканың сөздерін табу және оларды көрсету мүмкіндігі әндерді оңай табуға және
                        жағымды тәжірибе алуға мүмкіндік береді.</p>
                </div>
            </div>
        </div>

        <div class="card text-white p-1 border-0">
            <img src="/static/images/vevo-bg.png" class="card-img" alt="...">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <div class="wrapper">
                    <h5 class="card-title"><img src="/static/images/vevo-logo.png" alt="" width="50%"></h5>
                    <p class="card-text">Жасанды интеллект негізіндегі әндердің эмоцияларына негізделген жарнама.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/scripts/statistics.js"></script>
</div>
