<% layout("layouts/boilerplate") %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
      integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
        integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    AOS.init();
</script>

<div class="">
    <div class="row mb-5" data-aos="fade-up"
         data-aos-duration="2000">
        <div class="col-md-6">
            <p class="header display-6">Қазақстандық <span id="greeting"
                                                           style="color: #fc0254;">музыкалық</span> тәжірибені кеңейту.
            </p>
            <p class="lead"> Қазақстан жазушыларының және ақындарының поэмаларын халыққа түсінікті тілде жеткізу</p>
            <div>
                <button class="btn btn-primary btn-lg" onclick="window.location.href='/sign_in'">Кіру</button>
                <button class="btn btn-secondary btn-lg" onclick="window.location.href='/sign_up'">Тіркелу</button>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" alt="Responsive image"
                 src="/static/images/xhero-bg.png.pagespeed.ic.wZL5rXc3fy.webp">
        </div>
    </div>

    <div class="mb-3" data-aos="fade-up"
         data-aos-duration="2000">
        <p class="display-3">Біз қалай жұмыс істейміз?</p>
        <div class="row py-3">
            <div class="col-md-4">
                <h3><strong>Вебсайтқа тіркеліңіз</strong></h3>
                <p class="text-muted">Жоғары оң бұрышта орналасқан батырмаға басып, өз пайдаланушы атыңыз бен құпиясөзді
                    жазып вебсайтқа тіркеліңіз.</p>
            </div>
            <div class="col-md-4">
                <h3><strong>Сүйікті өлеңізді қосыңыз</strong></h3>
                <p class="text-muted">Әлі вебсайтқа қосылмаған, өзіңіз сүйікті өлеңдеріңізді вебсайтқа қосыңыз.</p>
            </div>
            <div class="col-md-4">
                <h3><strong>Аннотация қосыңыз</strong></h3>
                <p class="text-muted">Өзіңіз қосқан өлеңнің тармақтарына алуан түрлі аннотация қосыңыз.</p>
            </div>
        </div>
    </div>

    <div class="mb-5" id="statistics" data-aos="fade-up"
         data-aos-duration="2000">
        <div class="row">
            <div class="col-md-6">
                <img src="/static/images/mockuphone-iphone.webp"
                     class="mx-auto d-block" alt="IPhone XR Frame Screen" style="max-height: 500px;">
            </div>
            <div class="col-md-6 d-flex align-items-center px-5 rounded-5" style="background: #f2f2f2;">
                <div class="row">

                    <div class="col-6 text-center">
                        <p class="display-3 header" id="authorsNum">0</p>
                        <p class="lead">автор қосылды</p>
                    </div>

                    <div class="col-6 text-center">
                        <p class="display-3 header" id="poemsNum">0</p>
                        <p class="lead">өлең қосылды</p>
                    </div>

                    <div class="col-6 text-center">
                        <p class="display-3 header" id="linesNum">0</p>
                        <p class="lead">тармақ қосылды</p>
                    </div>

                    <div class="col-6 text-center">
                        <p class="display-3 header" id="annotationsNum">0</p>
                        <p class="lead">аннотация қосылды</p>
                    </div>

                </div>

                <div class="text-muted col-12 d-none"><small>Деректер нақты уақыт режимінде жаңартылады.</small></div>

            </div>
        </div>
    </div>

    <div data-aos="fade-up"
         data-aos-duration="2000">
        <div class="text-center mb-5">
            <p class="header display-6">Біздің ұстанымдарымыз & құндылықтарымыз</p>
        </div>

        <div class="row">
            <div class="col-md-3 text-center">
                <img src="/static/images/honesty-concept-illustration_114360-8896.webp"
                     class="img-fluid" alt="">
                <p class="header lead py-3">Адалдық</p>
            </div>

            <div class="col-md-3 text-center">
                <img src="/static/images/dictionary-concept-illustration_114360-7489.webp"
                     class="img-fluid" alt="">
                <p class="header lead py-3">Үздіксіз Үйрену</p>
            </div>

            <div class="col-md-3 text-center">
                <img src="/static/images/goal-illustration-concept_114360-903.webp"
                     class="img-fluid" alt="">
                <p class="header lead py-3">Құштарлық</p>
            </div>

            <div class="col-md-3 text-center">
                <img src="/static/images/innovation-concept-illustration_114360-5848.webp"
                     class="img-fluid" alt="">
                <p class="header lead py-3">Инновация</p>
            </div>
        </div>
    </div>

    <script src="/static/scripts/statistics.js"></script>
    <script src="/static/scripts/change-text.js"></script>
</div>
