<% layout("layouts/boilerplate") %>
<div class="">
    <p class="display-1 mb-5" style="font-weight: 700 !important;">Қазақстандық музыкалық тәжірибені кеңейту.</p>

    <div class="card-group mb-5">
        <div class="card me-3 p-1 border-0">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <img src="/static/images/case.png"
                         class="card-img rounded-start" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 700 !important;">Серіктестер үшін</h5>
                        <p class="card-text" style="font-weight: 700 !important;">Қызметті жаңа деңгейге көтеру үшін
                            сізге қажет барлық нәрсе.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card me-3 p-1 border-0">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <img src="/static/images/artists.png"
                         class="card-img rounded-start" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 700 !important;">Әншілер үшін</h5>
                        <p class="card-text" style="font-weight: 700 !important;">Музыкалар каталогы пен профильдерге
                            шексіз мүмкіндік алыңыз.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card  p-1 border-0">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <img src="/static/images/dollar.png"
                         class="card-img rounded-start" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 700 !important;">Баспагерлер үшін</h5>
                        <p class="card-text" style="font-weight: 700 !important;">Мәтіндеріңізді бүкіл әлемге таратыңыз
                            және ақы алыңыз.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-group mb-5">
        <div class="card text-white me-3 p-1 border-0">
            <img src="/static/images/spotify-bg.png" class="card-img" alt="...">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <div class="wrapper">
                    <h5 class="card-title"><img src="/static/images/spotify-logo.png" alt="" width="50%"></h5>
                    <p class="card-text">Real-time synced lyrics enhance users’ listening experience and song engagement.</p>
                </div>
            </div>
        </div>

        <div class="card text-white me-3 p-1 border-0">
            <img src="/static/images/insta-bg.png" class="card-img" alt="...">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <div class="wrapper">
                    <h5 class="card-title"><img src="/static/images/insta-logo.png" alt="" width="50%"></h5>
                    <p class="card-text">Lyrics can be added directly to Instagram Stories for enriched storytelling.</p>
                </div>
            </div>
        </div>

        <div class="card text-white me-3 p-1 border-0">
            <img src="/static/images/apple-bg.png" class="card-img" alt="...">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <div class="wrapper">
                    <h5 class="card-title"><img src="/static/images/apple-logo.png" alt="" width="50%"></h5>
                    <p class="card-text">Lyrics search option and display allow for easy song discovery and a heightened
                        experience.</p>
                </div>
            </div>
        </div>

        <div class="card text-white p-1 border-0">
            <img src="/static/images/vevo-bg.png" class="card-img" alt="...">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <div class="wrapper">
                    <h5 class="card-title"><img src="/static/images/vevo-logo.png" alt="" width="50%"></h5>
                    <p class="card-text">Emotion-based ads targeting thanks to AI-powered song moods.</p>
                </div>
            </div>
        </div>
    </div>

    <p class="display-6 text-center">Біз сіздің сүйікті музыкаңызды өмірге келтіру үшін әлемге әйгілі музыка индустриясы
        компанияларымен жұмыс жасаймыз.</p>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-3"><img src="/static/images/logo-container/spotify.png" alt="" class="img-fluid"></div>
        <div class="col-12 col-md-6 col-lg-3"><img src="/static/images/logo-container/apple.png" alt="" class="img-fluid"></div>
        <div class="col-12 col-md-6 col-lg-3"><img src="/static/images/logo-container/amazon.png" alt="" class="img-fluid"></div>
        <div class="col-12 col-md-6 col-lg-3"><img src="/static/images/logo-container/shazam.png" alt="" class="img-fluid"></div>
        <div class="col-12 col-md-6 col-lg-3"><img src="/static/images/logo-container/google.png" alt="" class="img-fluid"></div>
        <div class="col-12 col-md-6 col-lg-3"><img src="/static/images/logo-container/insta.png" alt="" class="img-fluid"></div>
        <div class="col-12 col-md-6 col-lg-3"><img src="/static/images/logo-container/vevo.png" alt="" class="img-fluid"></div>
        <div class="col-12 col-md-6 col-lg-3"><img src="/static/images/logo-container/microsoft.png" alt="" class="img-fluid"></div>
    </div>
</div>
