<span style="color: #4285f4">A</span><span style="color: #ea4335">q</span><span style="color: #fbbc05">y</span><span
        style="color: #4285f4">n</span><span style="color: #34a853">d</span><span style="color: #ea4335">a</span><span
        style="color: #fbbc05">r</span>