<% layout("layouts/boilerplate") %>
<form action="/poems/new" method="post" class="col-md-6 offset-md-3">
    <p class="display-5">Жаңа поэема қосу</p>

    <div class="form-group mb-3 row">
        <label for="title" class="col-sm-3 col-form-label">Poem name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="title" name="title" placeholder="Poem name" required></div>
    </div>

    <div class="form-group mb-3 row">
        <label for="authors" class="col-sm-3 col-form-label">Authors: </label>

        <div class="col-sm-9">
            <select class="form-control" id="authors" name="author" required>
                <option value="" selected disabled>Select author</option>
                <% authors.forEach(function(author) { %>
                    <option value="<%= author._id %>"><%= author.fullname %></option>
                <% }) %>
            </select>
        </div>
    </div>

    <div class="form-group mb-3 row">
        <label for="yt_id" class="col-sm-3 col-form-label">Youtube сілтеме:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="yt_id" name="yt_id" placeholder="Youtube сілтеме" required>
        </div>
    </div>

    <div class="form-floating mb-3">
                <textarea
                        class="form-control"
                        placeholder="Leave a poem here"
                        name="poem"
                        id="floatingTextarea"
                        style="height: 250px;"
                        required
                ></textarea>
        <label for="floatingTextarea">Poem</label>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
