<% layout("layouts/boilerplate") %>
<form action="/authors/new" method="post" class="col-md-6 offset-md-3" enctype="multipart/form-data">
    <p class="display-5">Жаңа автор қосу</p>

    <div class="form-group mb-3">
        <label for="fullname">Толық аты</label>
        <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Толық аты" required>
    </div>

    <div class="form-group mb-3">
        <label for="profilepic">Профиль суреті</label>
        <input id="profilepic" class="form-control" type="file" name="profilepic" accept=".jpg, .png, .jpeg"/>
    </div>

    <div class="form-group mb-3">
        <label for="biography">Биография</label>
        <textarea class="form-control" id="biography" name="biography" style="height: 250px;" placeholder="Биография"
                  required></textarea>
    </div>

    <button class="btn btn-primary" type="submit">Жіберу</button>
</form>
